*{
    box-sizing: border-box; /*ça bloque l'élément, le recentre avec une marge */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
h1{
    font-size: 45px;
    color: #fff;
    margin-top: 50px;
    font-family: 'Amatic SC, cursive', sans-serif;
    text-align: center;
    font-weight: 400;
}
h2{
    font-size: 50px;
    color: crimson;
    padding: 20px;
    font-family: 'Amatic SC', sans-serif;
}
h3{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
}
h4{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #2c3e50;
}
h5{
    font-size: 90px;
    color: purple;
    padding: 20px;
    font-weight: bold;
    font-family: 'Amatic SC, cursive', sans-serif;    
    text-align: center;
}
blockquote{
    font-style: italic;
    font-size: 120%;
}
strong{
    font-weight: bold;
}
main{
    background: mistyrose;
    width: 1000px;
    margin: 0 auto;
}
aside{
    height: 300px;

}
section{
    margin-top: 50px;
    padding: 20px;
}
footer{
    background: mistyrose;
    height: 30px;
}
/* ************************ HEADER ****************************** */
header{
    background: slategray;
    height: 175px;
}
#logo{
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
}
#slogan{
    width: 50%;
    float: left;
    padding: 20px;
}
#rs{
    width: 25%;
    float: left;
    padding: 20px;
}
#rs a{
    font-size: 30px;
    color: #fff;
    display: block;
    text-align: right;
    padding: 15px 30px 0 0;
    text-decoration: none;
}
/* ************ FIN HEADER ****************** */

#rs:hover{
    font-size: 60px;
    transition: 2s;
}
nav{
    background: mistyrose;
    text-align: center;
    padding: 17px;
    border-bottom: 4px solid slategray;
    padding: 17px;
}
nav a{
    font-family: 'Amatic SC, cursive', sans-serif;    
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border: 1px solid pink;
    padding: 6px 9px;
    border-radius: 7px;
    margin: 0 8px;   
}
nav a:hover{
    background: pink;
    transition: 2s;
}
.active{
    background: pink;
}
.roboto p{
    font-family: 'Roboto', sans-serif;
}
.select p:first-of-type, p:nth-of-type(10){
    color: purple;
}
.select p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4), p:nth-of-type(7), p:nth-of-type(8), p:nth-of-type(9), p:nth-of-type(11){
    color: red;
}
.select p:nth-of-type(5), p:nth-of-type(6){
    color: darkgreen;
}
.select p:nth-of-type(12){
    color: orange;
}

.select p:nth-of-type(13){
    color: lime;
}
.select p:nth-of-type(14){
    color: black;
}
span{
    color: lime;
}
.blue{
    color: blue;
}
.imageFond{
    background: black url(../images/fond.jpg) no-repeat;
    background-size: cover;   
}
.imageFond p{ 
    border-radius: 10px;
    width: 70%;
    margin: 100px auto 200px auto;
    background: rgba(242, 242, 242,0.7) ;
    padding: 20px;
    font-size: 120%;
}
.img2{
    width: 30%;
    height: 427px;
    border: 5px solid black;
    margin: 50px auto;
    box-shadow: 5px 5px 5px rgb(109, 105, 105);
    padding-top: 1px;
    padding-left: 1px;
}
.img2 img{
    width: 100%;
    height: auto;
}
/* SECTION SAN FRANCISCO */
.secQuatre{
    width: 100%;
    height: 600px;
}
.photoUn{
    float: left;    
    margin: 20px 30px 10px 180px;
    border: 5px solid #fff;
    box-shadow: 10px 10px 15px rgb(109, 105, 105);
    transition-duration: 3s;
    transition-property: transform;
}

.photoUn:hover{
 transform: rotate(45deg) scale(0.7);
}
.photoDeux{
    float: left;     
    margin: 20px 0px 10px 0;
    border: 5px solid #fff;    
    box-shadow: 10px 10px 15px rgb(109, 105, 105);
    transition-duration: 3s;
    transition-property: transform; 
}
.photoDeux:hover{
 transform: rotate(-45deg) scale(0.7);
}
.photoTrois{
    margin: 20px 0px 10px 300px;
    border: 5px solid #fff; 
    box-shadow: 10px 10px 15px rgb(109, 105, 105);  
    transition-duration: 3s;
    transition-property: transform;      
}
.photoTrois:hover{
 transform: rotate(180deg) scale(0.5);    
}
.clear{
    clear: both;
} 
/* SAN FRANCISCO CORRECETION

.rotationImg{
    text-align: center;
}
.image{
    margin: 20px;
    border: 5px solid #eee; 
    box-shadow: 10px 10px 15px rgb(109, 105, 105); 
    transition: 1s; 
}
.image:hover{
    transform: rotate(40deg) scale(0.7);
}
.rotation360{
    transform: rotate(-360deg) scale(0.5);
}
*/

/* ************  LES LISTES ********************* */

.fruit li{
   display: inline-block;
   margin: 15px;
   list-style: none;    
}
li i{
    color: red;
    font-size: 90%;
}
.imbrique, .imbrique ul{
    padding-left: 30px;
    margin: 5px;
    cursor: pointer;
}
.asie, .eu{
    margin-top: 20px;    
    list-style: none;
    font-size: 20px;
}
.asie ul li:hover{
    color: red;
    font-size: 30px;
    transition: 2s;
}
.asie span:hover{
    color: red;
    font-size: 30px;
    transition: 1s;
}
.eu span:hover{
    color: red;
    font-size: 30px;
    transition: 1s;
}
.eu ul li:hover{
    color: red;
    font-size: 30px;
    transition: 1s;
}
.asie span, .eu span{
    font-size: 25px;
    font-weight: bold;
    color: black;
}
/* ************  LES TABLEAUX ********************* */

.table{
    border-collapse: collapse;
    border: black 1px solid;
    margin: 0 auto;
}
.table td{
    border: 1px solid black;
    padding: 5px;
    width: 180px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.table tr:first-child, .table tr:last-child{
    background: lightblue;
}
/* ************  LES POSITIONS ********************* */

.block{
    width: 50%;
    height: 200px;
    margin: 5px auto;
    color: #fff;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    line-height: 200px;
    background: cadetblue;
}
.orange{
    width: 50%;
    height: 500px;
    margin: 5px auto;
    background: orange;
    z-index: 1;
}
.bleu{
    width: 80px;
    height: 80px;
    background: blue;
    position: relative;
    top: 410px;  
    z-index: 2; 

}

.haut{
    width: 70%;
    height: 150px;
    margin: 0 auto;
    background: khaki;
    text-align: center;
}
.gauche{
    width: 20%;
    height: 500px;
    margin-top: 0;
    margin-left: 15%;
    background: green;
    float: left;
    text-align: center;
    
}
.droite{
    width: 50%;
    height: 500px;
    margin-top: 0;
    margin-right: 15%;
    background: darkgreen;
    float: right;
    text-align: center;       
}
.phototour{
    width: 40%;
    height: 180px;
    margin: 140px auto;
}
.phototour img{
    width: 100%;
    height: 180px;
}
.coteacote{    
    width: 100%;
    height: 650px;
} 

/* Ma page zoning 
#zoning1{
    margin: 0 auto;
    width: 800px;
    border: 2px solid black;
}
#zoning1 .header{
    width: 80px;
    background: darkgray;
}

#zoning1 aside{
width: 30%;
height: 500px;
background: purple;
float: left;
}
#zoning1 section{
    width: 70%;
    height: 500px;
    background: lightblue;
    margin: 0;
    padding: 0;
    float: left;
}*/
.zoning2{
    width: 70%;
    height: 700px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.zoning2 .zonehead{
    width: 100%;
    height: 100px;
    background: lightcyan;
    color: black;
}
.zoning2 .asidegauche, .asidedroite{
    width: 25%;
    height: 550px;
    background: darkolivegreen;
    float: left;
}
.zoning2 .zonemiddle{
    width: 50%;
    height: 550px;
    background: darkred;
    float: left;
}
.zoning3{
    width: 70%;
    height: 700px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.zoning3 .gauchesection{
    width: 50%;
    height: 550px;
    background: darkolivegreen;
    float: left;
}
.zoning3 .droitesection{
    width: 50%;
    height: 550px;
    background: lightgreen;
    float: left;

}
.zoning3 .zonefooter{
    width: 100%;
    height: 150px;
    background: peru;
    color: black;
}
.zoning4{
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}
.zoning4 .header4{
    width: 100%;
    height: 70px;
    background: lightblue;
}
.zoning4 .nav4{
    width: 100%;
    height: 25px;
    background: purple;
    line-height: 25px;
    border-bottom: 5px solid blue;
}
.zoning4 .section4{
    width: 90%;
    height: 280px; 
    margin: 20px 5%;
    background: darkgrey;
}
.zoning4 .section4 img{
    width: 100%;
    height: 250px;
}
.zoning4 .footer4{
    width: 100%;
    height: 100px;
    background: maroon;
    color: khaki;
}
.zoning5{
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    background: mistyrose;
}
.zoning5 .header5{
    width: 100%;
    height: 70px;
    background: #cec331;
}
.zoning5 .nav5{
    width: 100%;
    height: 25px;
    background: #9e900e;
    line-height: 25px;
    border-bottom: 5px solid rgb(160, 124, 6);
}
.zoning5 .section5{
    width: 90%;
    height: 280px; 
    margin: 20px 5%;
    background: #cec331;
}
.Zone1bis, .Zone4bis{
    width: 50%;
    height: 140px;
    float: left;
    background: tan;
        border: 1px solid black;
}
.Zone2bis, .Zone3bis{
    width: 50%;
    height: 140px;
    float: left;
    background: sienna;
    border: 1px solid black;
}
.Zone1bis img, .Zone4bis img, .Zone2bis img, .Zone3bis img{
    width: 100%;
    height: 140px;
}

.zoning5 .footer5{
    width: 100%;
    height: 100px;
    background: #cec331;
    color: black;
}
.zoning6{
    width: 100%;
    height: 950px;
    border: 1px solid black;
}
.zoning6 .haut1, .zoning6 .haut3{
    width: 25%;
    height: 200px;
    text-align: center;
    background: darkgreen;
    float: left;
}
.zoning6 .haut2{
    width: 50%;
    height: 200px;
    text-align: center;
    background: lightgreen;
    float: left;
}
.zoning6 .menuz6{
    width: 100%;
    height: 50px;
    text-align: center;
    background: rgb(179, 127, 16);
}
.zoning6 .zgauche6{
    width: 25%;
    height: 600px; 
    text-align: center;
    background: rgb(173, 167, 155);
    float: left;
    
}
.zoning6 .zone6A{
    width: 37.5%;
    height: 200px; 
    text-align: center;
    background: rgb(101, 238, 248);
    float: left;
}
.zoning6 .zone6B{
    width: 37.5%;
    height: 200px; 
    text-align: center;
    background: rgb(48, 159, 167);
    float: left;
}
.zoning6 .sideshow{
    width: 75%;
    height: 200px; 
    text-align: center;
    background: rgb(17, 93, 99);
    position: relative;
    bottom: 400px;
    left: 25%;
    overflow: hidden;
}
.zoning6 .zone6C{
    width: 18.75%;
    height: 200px; 
    text-align: center;
    background: rgb(107, 155, 147);
    float: left;
    position: relative;
    bottom: 400px;
    left: 25%;
}
.zoning6 .zone6D{
    width: 18.75%;
    height: 200px; 
    text-align: center;
    background: rgb(48, 189, 102);
    float: left;
    position: relative;
    bottom: 400px;
    left: 25%;
}
.zoning6 .zone6E{
    width: 18.75%;
    height: 200px; 
    text-align: center;
    background: rgb(15, 73, 13);
    float: left;
    position: relative;
    bottom: 400px;
    left: 25%;
}
.zoning6 .zone6F{
    width: 18.75%;
    height: 200px; 
    text-align: center;
    background: rgb(47, 185, 162);
    float: left;
    position: relative;
    bottom: 400px;
    left: 25%;
}
.zoning6 .footerz6{
    width: 100%;
    height: 98px;
    text-align: center;
    background: rgb(9, 139, 100);
    position: relative;
    bottom: 400px;    
}
.sideshow .slides{
    width: 100%;
    height: 200px;
    animation: glisse 4s infinite ;
}
.slideshow .slide{
    float: left; 
}

@keyframes glisse {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0);
    }
}
#pourcentage .trente{
    width: 30%;
    height: 40px;
    background: orange;
    margin-bottom: 10px;
    
}
#pourcentage .cinquante{
    width: 50%;
    height: 40px;
    background: maroon;
    margin-bottom: 10px;
    
}
#pourcentage .cent{
    width: 100%;
    height: 40px;
    background: green;   
}
#attribut .floatdiv{
    width: 15%;
    height: 100px;
    margin: 2%;
    float: left;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    line-height: 100px;
}
#attribut .floatdiv:hover{
    border-radius: 50%;
}
.maincontainer{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
}
.maincontainer .menuvert, .maincontainer .footervert{
    width: 100%;
    height: 50px;
    background: rgb(78, 129, 78);
}
.coterose{
    width: 25%;
    height: 300px;
    float: left;
    background: rgb(170, 89, 133);
}
.coteorange{
    width: 25%;
    height: 300px;
    float: left;
    background: rgb(206, 89, 11);
}
.cotevert{
    width: 25%;
    height: 300px;
    float: left;
    background: rgb(17, 139, 119);
}
.coterosepale{
    width: 25%;
    height: 300px;
    float: left;
    background: rgb(108, 6, 117);
}
#flex{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
    height: 300px;
}
#flex div{
    width: 15%;
    height: 100px;
    /* margin: 2%; */
    color: white;
    background: maroon;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    border: 3px solid white;
}
button{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 350%;
    color: slategray;
}
button:hover{
    color: pink;
    transition: 1s;
}
/* *************** PAGE LIENS ******************** */
.lien1 p{
    display: inline-block;
    margin-left: 20%;
    border: 1px solid transparent;
    border-radius: 15px;
    background: tomato;
    padding: 5px;
    box-shadow: 0px 1px 24px 0px rgba(46, 50, 50,0.7);
}
.lien1 p a{
        text-decoration: none;
        color: white;

}
.lien1 p:hover{
    transform: scale(1.5);
    cursor: pointer;
    font-size: 150%;
    transition: 2s;
}
.facebook{
    font-size: 200%;
    color: blue;
}
#menuliste{
    border: none;
}
#menuliste ul li{
    display: inline-block;
    margin: 0 auto; 
  
}
#menuliste ul li a{

    background: white;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
    font-weight: 400;
    color: tomato;
}

#menuliste ul li a:hover{
    background: lightgreen;
    transition: 3s ease-in-out;
}
/* lien et menu - menu deroulante */

#menuDeroulant{
height: 650px;
}
#menuDeroulant nav{
    background:  transparent;
    border: none;
    width: 90%;
    margin: 0 auto;
}
#menuDeroulant nav ul li{
    float: left;
    list-style: none;
    width: 20%;
}
#menuDeroulant ul ul{
    display: none;
}
#menuDeroulant ul ul li{
    border-top: 1px solid pink;
    width: 100%;
}
#menuDeroulant nav li{
    background:  gainsboro;
}
#menuDeroulant li a{
    text-decoration: none;
    color: black;
    padding: 4px 0 4px;
    display: block; /* pour qu'il s'etande sur toute la longueur de son conteneur */
    background: mistyrose;
}
#menuDeroulant li.sousMenu:hover ul.niveau2{
    display: block;
}
/********************* FORMULAIRE *****************************/
 #formulaire1{
    width: 50%;
    height: 500px;
    margin: 30px auto;                                                                                                                                                                                                                                                              
    background: lightcoral;
    color: white;
    border-radius: 10px;                               
    padding: 10px;
}
#formulaire1 label{
    float: left;
    width: 40%;                                                                                                                      
}                                                         
#formulaire1 input{
    margin-bottom: 15px;    
}
#formulaire1 button{
    padding: 5px;
    width: 75px;
    height: 35px;
}  
/* *************** MULTIMEDIA ******************** */
.fondVideo{
    width: 80%;
    margin: 0 auto;
    height: 445px;
}
#video-background {
  width: 100%; 
  height: 445px;
  z-index: 1;
}
.texteVideo{
    width: 60%;
    margin: 150px auto;
    padding: 5px;
    background: white;
    opacity: 0.5;
    z-index: 2;
    position: relative;
    bottom: 450px;
} 
.videoLarge{
    width: 100%;
    height: 450px;
}
.videoLarge iframe{
    width: 100%;
    height: 500px;
}
.audio{
    width: 50%;
    margin: 0 auto;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.map{
    width: 80%;
    margin: 0 auto;
}
.map iframe{
    width: 100%;
    margin: 0 auto;
}
/* animation fancy box */
/* #animation a img {
   /*height: 35%;
   width: 15%;*/
        /* height:50px;
        width: 20px;
}

#animation a {
   text-decoration: none;
   outline: none;
} */ 

.infoBulle{
    width: 500px;
    height: 250px;
    margin: auto;
    background: slategray;
    color: white;
    box-shadow: 0px 0px 50px #222 inset;
    padding-top: 15px;
}
.infoBulle p{
    text-align: center;
    padding-top: 30px;
    
}
.infoBulle p a{
    text-decoration: none;
    color: white !important;
    text-shadow: 0 -2px 0 black;
    border-radius: 3px;
    padding: 5px 15px;
}
.infoBulle p a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: white;
}
.infoBulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    color: pink;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.infoBulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}
.infoBulle a span::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,0.9);
    border-left: 6px solid transparent ;
    border-right: 6px solid transparent ;
}
/* ************************EFFETS ET TRANSITIONS *************************** */
.imgEffets{
    width: 320px;
    height: 320px; 
    margin: 70px auto;
}
.imgEffets li{
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;
}
.imgEffets li:nth-child(3){
    clear: both;
}
.imgEffets img{
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px black;
    transition: .5s cubic-bezier(0,3,0.4,1 ); 
}
.imgEffets li:hover img{
    z-index: 2;
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
}
.imgEffets:hover li:not(:hover) img{ /* Je mets au survol de la classe imgEffets je met les image en gris et flou sauf celle qui est en hoover */
    filter: grayscale(1) blur(8px);
}
/* *********************** EFFET ROTATION DIV *************************** */
#menuRotate{
    width: 576px;
    height: 360px;
    margin: 100px auto;
    background: mistyrose;
    position: relative;
    overflow: hidden;
    border: 2px solid pink;
}
#menuRotate .masque{
    position: absolute;
    z-index: 50;
    width: 585px;
    height: 135px;
    top: 0;
    left: 0;
    background: linear-gradient(pink, mistyrose);
}
#menuRotate .ombre{
    position: absolute;
    top: 32px;
    left: 142px;
    z-index: 40;
    width: 300px;
    height: 6px;
    box-shadow: 0 100px 3px black;
    border-radius: 75px / 3px; 
}
#menuRotate dl{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 155px;
    color: white;
    text-align: center;
    background: crimson;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    transform-origin: 50%  120px;
    animation: bounceOut 0.7s ease-in-out;
}
#menuRotate dt{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}
#menuRotate  dd{
    transform: rotate(180deg);
}
#menuRotate dd a{
    display: block;
    height: 24px;
    padding: 3px 0;
    color: white;
    text-decoration: none;
}
#menuRotate dd a:hover{
    background: rgba(255, 255, 255, 0.1);
}
#menuRotate dl:hover{
    transform: rotate(-180deg);
    animation: BounceIn .7s ease-in-out;
}
@keyframes BounceIn{
    from {transform: rotate(0deg);}
    75% {transform: rotate(-200deg);}
    90% {transform: rotate(-175deg);}
    to {transform: rotate(-180deg);}
}
@keyframes bounceOut{
    from {transform: rotate(0deg);}
    0% {transform: rotate(-180deg);}
    10% {transform: rotate(-165deg);}
    to {transform: rotate(-360deg);}
}