body{
    background-color: white;
}
section{
    width: 60%;
    margin: 0 auto;
}
td{
    width: 4em;
    height: 4em;
    border: 2px solid transparent;
}
.yellow{
    background-color: yellow;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}  
.blue{
    background-color: blue;
}