body{
    width: 60%;
    margin: auto;

}
table{
    background-color: #D0D0D0;
    border: 1px solid transparent;
    margin: 50px auto;
    border-bottom: 3px solid black;
    
}
td{
   border: 1px solid transparent;
    text-align: center;
    height: 20px;
    width: 20px;
}
.premier td{
    height: 10px;
    width: 15px;
}
.jaune{
    background-color: yellow;
}
.gris{
    background-color: #696969;
}
.noir{
    background-color: black;
}
.bleu{
    background-color: #0000ff;
}
