body{
    margin: 50px auto;
    width: 50%;
}
#container{
    width: 100%;

}
header,img{
    width: 100%;
    height: 400px;
}
.main{
    font-size: 2em;
    color: grey;
    text-align: center;
}
.main img{
    width: 80%;
    height: 150px;
}
footer img{
    width: 30%;  
    height: 100px;
    margin-bottom: 50px;
}
footer{
    width: 100%;
    text-align: center;
    float: left;
}
.clear{
    clear: both;
}